<div>
    <!-- class="debug-border" -->
    <div class="content title margin-bottom">{{title}}</div>
    <div class="content sub-title margin-bottom-x2">{{summary}}</div>
    <div class="separator"></div>
    <div class="margin-bottom-x5">
        <div class="margin-bottom-x3">
          <button type="button" class="button width-250" (click)="onCardProfileFileSelected()"><i class="fa fa-cloud-upload margin-right"></i>IMPORT CARD PROFILES</button>
        </div>
        <div class="margin-bottom-x3">
          <button type="button" class="button width-250" (click)="onAccountRangesFileSelected()"><i class="fa fa-cloud-upload margin-right"></i>IMPORT ACCOUNT RANGES</button>
        </div>
        <div class="margin-bottom-x3">
          <button type="button" class="button width-250" (click)="onMerchantsFile()"><i class="fa fa-cloud-upload margin-right"></i>IMPORT MERCHANTS</button>
        </div>
        <div class="margin-bottom-x3">
          <button type="button" class="button width-250" (click)="onBranchesFileSelected()"><i class="fa fa-cloud-upload margin-right"></i>IMPORT BRANCHES</button>
        </div>
        <div class="margin-bottom-x3">
          <button type="button" class="button width-250" (click)="onFranchieesFileSelected()"><i class="fa fa-cloud-upload margin-right"></i>IMPORT FRANCHISEES</button>
        </div>
        <div class="margin-bottom-x3">
          <button type="button" class="button width-250" (click)="onTransactionDataFileSelected()"><i class="fa fa-cloud-upload margin-right"></i>IMPORT TRANSACTION DATA</button>
        </div>
    </div>
</div>